@import '../../styles/settings';

.total {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid $dark;
  padding: $gap;
  .title {
    font-weight: bold;
  }
  .price {

  }
}





