@import "./../../styles/settings";

.row {
  display: flex;
  justify-content: space-between;
  border: 1px solid $gray;
  padding: $gap;
  width: 100%;
  .name {

  }
  .qty {
    margin-left: auto;
    width: 100px;
  }
  .avg {
    width: 100px;
  }
  .price {
    width: 100px;
  }
}
